* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    
}

a{
    color: white;
    margin-right: 1cm;
    margin-left: 1cm;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00008B;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}


.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}